/* .slick-prev::before,
.slick-next::before {
  display: none;
} */

.slider-container {
    width: 100%;
    height: 400px;
    position: relative !important;
}

.slider-items {
    width: 100%  !important;
    height: 350px !important;
    object-fit: cover !important;
    display: flex;
    justify-content: center;
    gap: 5px;

    
    
}


.slider-item {
    width: 100px;
}


.slick-dots{
    z-index: 10 !important;
    position: absolute !important;
    bottom: -130px !important;
    width: 600px !important;
    overflow-x: scroll;
    flex-wrap: nowrap !important;
    display: flex !important;
    height: 120px !important;

    & li {
        margin: 15px 15px!important;
        width: auto !important;
        height: auto !important;

    }

    & li.slick-active{
        transform: scale(1.2);
    }
}

@media (max-width: 960px) {
    .slider-items {
      height: 250px !important;
    } 
    
    .slider-container {
      width: calc(100vw - 50px);
    }

    .slick-dots {
        width: calc(100vw - 30px);
    }
  
  };
  
  @media (max-width: 600px) {

     .slider-item {
         width: 75px;
     }
      
      .slick-dots {
        & li {   
          margin: 7px 7px!important;
            
        }
      }
  
  };