.form {
    background-color: #c8c8c8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 20px;
    // border: 1px solid #5b5757; /* Додайте рамку */
    margin-bottom: 20px;
    
    &_row {
      background-color: #ffffff;
      padding: 7px 15px;
      border-radius: 15px;
      display: flex;
      gap: 10px;
    }
  }
  