:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --input-color: #00000099;
  --genre-color: #cccc;
  --primary-color: #fff;
  --header-background-color: #bdbdbd;
  --header-tabs-hover-color: #000;
  --curent-price-color: #4c6b22;
  --old-price-color: #647984;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  /* --background-color: #181a1b; */
  --background-color: #0d1012;
  /* --text-color: #e8e6e3; */
  --text-color: #f78d63;
  --input-color: #f78d63;
  --primary-color: #f78d63;
  /* --card-background-color: #26292b; */
  --card-background-color: #191b1c;
  /* --card-background-color: #111414; */
  --genre-color: #303436;
  /* --header-background-color: #656666; */
  --header-background-color: #242729;
  --header-tabs-background-color: #181a1b;
  --header-tabs-hover-color: #f78d63;
  --curent-price-color: #badb8c;
  --old-price-color: #bdbdbd;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}