.image-container {
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}